<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品spu属性</title>
</head>
<body>
    <form>
        <div id="spu_dd" class="easyui-dialog" title="编辑spu" style="width:600px;height:500px;"
             data-options="iconCls:'icon-save',resizable:false,modal:true,closed:true,buttons:'#bb_spu'">
            <label>spu名称:</label>
            <input  id="spuName" name="spuName" class="easyui-textbox" data-options="" style="width:100px"/>
            <br>
            <label>spu概述 :</label>
            <input  id="description" name="description" class="easyui-textbox" data-options="multiline:true" style="width:300px;height: 100px"/>
            <br/><br/>
            <input  id="attrId" name="attrId" type="hidden"  />
            <table id="spuImgDg" class="easyui-datagrid" title="商品图片列表",
                   data-options="singleSelect:true,method:'get',toolbar:'#spuImgTootbar'"></table>

            <!----------------图片列表工具栏----------------------->
            <div id="spuImgTootbar" style="padding:5px;height:auto"  >
                <div style="margin-bottom:5px">
                    <a href="javascript:uploadSpu();" id="spuImgAdd" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加图片</a>
                    <a href="#" id="spuImgUploadBtn" class="easyui-linkbutton" iconCls="icon-save" plain="true" >图片上传</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
                </div>
            </div>

            <br><br>
            <table id="dg_spu_sale_arr" class="easyui-datagrid" title="销售属性列表"
                   data-options="singleSelect:true,method:'get',toolbar:'#spuSaleAttrTootbar'"></table>

            <!----------------销售属性列表工具栏----------------------->
            <div id="spuSaleAttrTootbar" style="padding:5px;height:auto"  >
                <div style="margin-bottom:5px">
                    <a href="javascript:addSpuSaleage();" id="spuSaleAttrAddBtn" class="easyui-linkbutton" iconCls="icon-add" onclick="addSpuSaleAttr()" plain="true">添加销售属性</a>
                    <a href="#" id="spuSaleAttrEditBtn" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editSpuSaleAttr()">编辑销售属性</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" >删除</a>
                </div>
            </div>
        </div>
    </form>
    <div th:include="spuSaleAttrPage"></div>

    <div id="bb_spu">
        <a href="#" class="easyui-linkbutton" onclick="saveSpu()">保存</a>
        <a href="#" class="easyui-linkbutton">关闭</a>
    </div>

    <script language="JavaScript">
        
        //保存spu
        function saveSpu() {
            var spuName = $("#spuName").textbox("getValue");
            var description = $("#description").textbox("getValue");

            //获取三级分类id
            var ctg3Id = $("#ctg3ForAttrList").combobox("getValue");
            var spuInfo = {};
            spuInfo["spuName"] = spuName;
            spuInfo["description"] = description;
            spuInfo["catalog3Id"] = ctg3Id;
            var rows = $("#dg_spu_sale_arr").datagrid("getRows");

            $(rows).each(function(i,e){

                spuInfo["spuSaleAttrList["+i+"].saleAttrId"] = e.saleAttrId;
                spuInfo["spuSaleAttrList["+i+"].saleAttrName"] = e.saleAttrName;

                //获取销售属性值
                var attrValueRows = e.spuSaleAttrValueJson.rows;
                $(attrValueRows).each(function (j,attrValue) {
                    spuInfo["spuSaleAttrList["+i+"].spuSaleAttrValueList["+j+"].saleAttrId"] = e.saleAttrId;
                    spuInfo["spuSaleAttrList["+i+"].spuSaleAttrValueList["+j+"].saleAttrValueName"] = attrValue.saleAttrValeName;
                })
            });

            //封装图片信息
            var rowImgs = $("#spuImgDg").datagrid("getRows");

            $(rowImgs).each(function (i,img) {
                spuInfo["spuImageList["+i+"].imgName"] = img.imgName;
                spuInfo["spuImageList["+i+"].imgUrl"] = img.imgUrl;
            });

            $.post("saveSpu",spuInfo,function (result) {
                if(result.success) {
                    $.messager.alert('系统提示','保存成功','info');
                    //关闭窗口
                    $("#spu_dd").dialog("close");
                    //刷新属性列表
                    $("#dg").datagrid("reload","getSpuListData?ctg3Id="+ctg3Id);
                } else {
                    $.messager.alert('系统提示','保存失败','info');
                }
            });
        }
        //初始化
        function initSpuValueDatagrid() {
            //初始化上传控件(webuploader)
            initUploader();

            // 初始化图片列表
            initSpuImgListDatagrid();
            // 初始化销售属性
            initSpuSaleAttrListDatagrid();
        }
        <!--图片上传开始-->
        // 初始化上传控件插件
        function initUploader(){
            var spuImgDg=  $("#spuImgDg");//图片列表
            //初始化上传控件
            var spuImgUploader = WebUploader.create({
                auto:false,
                // swf文件路径
                swf: '/webuploader/Uploader.swf',
                // 文件接收路径
                server: '/fileUpload',
                // 选择文件的按钮。
                pick: '#spuImgAdd',
                // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
                resize: false,
                //设定文件大小上限 2M
                fileSingleSizeLimit:2*1024*1024,
                //可接受的文件类型
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png',
                    mimeTypes: 'image/*'
                }
            });
            console.log("初始化文件上传控件的响应--fileQueued");

            //当用户选择了文件以后，表格要进行增行
            spuImgUploader.on('fileQueued',function (file) {
                console.log("用户增加文件:"+file.id+'||'+file.name);
                var row={
                    fileId:file.id,
                    imgName:file.name
                }
                spuImgDg.datagrid('appendRow',row);
            });

            //上传过程中，该进度会反复触发
            spuImgUploader.on( 'uploadProgress', function( file, percentage ) {
                var rowIndex=spuImgDg.datagrid('getRowIndex',file.id);
                var progessRow={progress:(percentage*100).toFixed(2)};
                spuImgDg.datagrid('updateRow', {index:rowIndex,row:progessRow});
            });

            // 上传成功时，要把生成的图片路径返回给表格的行中的url
            console.log("初始化文件上传控件的响应--uploadSuccess");
            spuImgUploader.on( 'uploadSuccess', function( file ,response) {
                console.log("上传完成："+file.id+"||"+response._raw);
                var fileId=file.id;
                var rowIndex = spuImgDg.datagrid('getRowIndex',file.id);//通过file.id查询到行号
                spuImgDg.datagrid('updateRow',
                    {   index:rowIndex,
                        row:{imgUrl:response._raw}
                    });
            });

            $('#spuImgUploadBtn').click(function(){
                console.log("开始上传");
                if(spuImgUploader.getFiles().length<=0){
                    $.messager().alert('警告','没有需要上传的文件','warning');
                    return;
                }
                spuImgUploader.upload();
            });
        }



        // 初始化图片表格和datagrid整合
        function initSpuImgListDatagrid(spuInfo) {
            $('#spuImgDg').datagrid('loadData', {total: 0, rows: []});

            spuImgDg = $("#spuImgDg").datagrid({
                idField: 'fileId',    //标识行的主键  可以利用getRowIndex进行查询
                columns: [[
                    {field: 'fileId', title: '文件编号', width: '15%'},//隐藏文件页面内部编号
                    {
                        field: 'imgName', title: '图片简称', width: '20%'
                    },
                    {field: 'imgUrl', title: '图片路径', hidden: true},  //隐藏真实路径
                    {
                        field: 'progress', title: '上传进度', width: '20%',
                        formatter: function (value, row, index) {
                            console.log("更新进度条！！" + value);
                            if (!value) {
                                value = 0;
                            }
                            var htmlstr =
                                "<div class='easyui-progressbar progressbar' style='width:100px;height:20px;' value='" + value + "' text='" + value + "'%>" +
                                "<div class='progressbar-text'  style='width: 100px; height: 20px; line-height: 20px;'>" + value + "%</div>" +
                                "<div class='progressbar-value' style='width:" + value + "%; height: 20px; line-height: 20px;'>" +
                                "<div class='progressbar-text' style='width: 100px; height: 20px; line-height: 20px;'>" + value + "%</div>" +
                                "</div>" +
                                "</div>";
                            return htmlstr;
                        }
                    },
                    {
                        field: 'imgState', title: '上传状态', width: '20%',           //如果存在路径表示上传成功
                        formatter: function (value, row, index) {
                            console.log('row.imgUrl:' + row.imgUrl);
                            if (row.imgUrl != undefined && row.imgUrl != '') {
                                return '已上传';
                            } else {
                                return '等待上传';
                            }
                        }
                    }
                ]],
                view: detailview,
                detailFormatter: function (rowIndex, rowData) {
                    return "<img src=" + rowData.imgUrl + " style='width:100px;height:100px;'>";
                }
            });
        }
        <!--图片上传结束-->
        function initSpuSaleAttrListDatagrid() {
            $("#dg_spu_sale_arr").datagrid({
                columns:[[
                    {field:'id',title:'id',width:100,hidden:true},
                    {field:'saleAttrId',title:'销售属性id',width:100},
                    {field:'saleAttrName',title:'销售属性名称',width:100},
                    {field:'spuSaleAttrValueJson',title:'页面暂存',width:200,align:'right'}
                ]]
            });
        }

        //添加属性值操作
        function addSpuSaleage() {

            $("#spu_sale_dd").dialog("open");

            //进入添加弹框时清空平台属性的名称
            $("#saleValeName").textbox('clear');

            //清空对应平台属性的属性值
            $("#dg_add_sale_av").datagrid("loadData", {"total":"0",rows:[] });

            //初始化
            //弹出添加界面
            initSpuAddImgDatagrid();
        }
    </script>
</body>
</html>